.image-size{
    height:auto;
    /* width: 150px; */
    width: 200px;
}

.body-header{
    font-size: 36px;
    font-style: bold;
}
.sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
}

.ranchers-font{
    font-family: 'Ranchers', cursive;
}

/* // Extra small devices (portrait phones, less than 576px)

// No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 30px) {
    .container{
        background-color: maroon;
        font-size: 12px;
        color: white;
    }

    .jumbotron{
        background-color:maroon;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{
        background-color: maroon;
        font-size: 12px;
        color: white;
    }

    .jumbotron{
        background-color:maroon;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .container{
        background-color:maroon;
        font-size: 12px;
        color: white;
    }

    .jumbotron{
        background-color:maroon;
    }

} 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        background-color: darkblue;
        font-size: 14px;
        color:white;
    }

    .jumbotron{
        background-color: darkblue;
        color:white;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        background-color:darkblue;
        font-size: 16px;
    }

    .jumbotron{
        background-color: darkblue;
    }
}

.white-background{
    background-color: white;
}

